@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
</head>
<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
